.text-box-editor-con {
  width: 76vw;
  margin-top: 20px;
}
.text-box-editor-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.commen-wrapper {
  width: 80vw;
  height: auto;

  background: linear-gradient(
    94.96deg,
    rgba(231, 238, 255, 0.5) 6.5%,
    rgba(231, 238, 255, 0.5) 96%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 40px 0;
  margin: 20px 0;
}
.commentbtncon button {
  width: 121px;
  height: 25px;
  background: #848484;
  border-radius: 32px;
  background: #848484;
  border-radius: 32px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.commentbtncon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 20px;
}
.comment-wrapper-content {
  width: 80vw;
  background-color: white;
  height: auto;
}
.rdw-editor-wrapper {
  border: 1px solid #f1f1f1;
}
@media (max-width: 600px) {
  .commentbtncon {
    position: relative;
    top: 24px;
  }
  .commen-wrapper {
    width: 97vw;
  }
  .comment-wrapper-content {
    width: 96vw;
  }
  .rdw-link-wrapper:nth-child(2) {
    display: none;
  }
  .rdw-inline-wrapper:nth-child(6) {
    display: none !important;
  }
  /* [title|="Superscript"] {
    display: none;
  }
  [title|="Subscript"] {
    display: none;
  } */
  [title|="Monospace"] {
    display: none;
  }
  [title|="Indent"] {
    display: none;
  }
  [title|="Outdent"] {
    display: none;
  }
  .rdw-option-wrapper {
    min-width: 13px !important;
    margin: 0 2px !important;
    padding: 2px !important;
  }
  .updownsec button {
    padding: 0 !important;
  }
}
