.twitterfeedcon h1 {
  font-weight: 600;
  font-size: 28px;
  color: #3b4f7d;
  padding-top: 20px;
  padding-left: 30px;
}
.twitterfeedcon {
  width: 20vw;
  height: 1210px;
  background: linear-gradient(
    94.96deg,
    rgba(231, 238, 255, 0.5) 6.5%,
    rgba(231, 238, 255, 0.5) 96%
  );
  border-radius: 16px;
}
.twitterfeedwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 40px; */
}
.desk {
  display: block;
  margin-left: 0 !important;
}
.mbl {
  display: none;
}
.pheeds {
  font-weight: 600;
  font-size: 22px;
  color: rgb(59, 79, 125);
  margin-left: 6vw;
  margin-top: 16px;
  margin-bottom: 16px;
}
.timelinedesktop iframe {
  width: 16vw !important;
}
.twitter-timeline.twitter-timeline-rendered {
  width: auto !important;
}
iframe #document html {
  overflow-y: hidden !important;
}
@media only screen and (max-width: 800px) {
  .twitter-timeline.twitter-timeline-rendered iframe {
    width: 60% !important;
  }
  .desk {
    display: none;
  }
  .mbl {
    display: block;
  }
  .timelinemobile iframe {
    margin-top: 20px;
    height: 70vh !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .timelinedesktop {
    display: none;
  }
  .pheeds {
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #3b4f7d !important;
  }
  .twitterfeedcon {
    height: 80vh;
    margin-top: 4vw;
    width: 90vw;
    margin-left: 2vw;
  }
}
@media only screen and (min-width: 800px) {
  .timelinemobile {
    display: none;
  }
}

.timelinedesktop .twitter-timeline.twitter-timeline-rendered iframe {
  height: 1020px !important;
  border-bottom-left-radius: 10px;
  /* margin-top: 20px; */
  border-bottom-right-radius: 10px;
}
