.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .desktopnavwrapper {
    display: none;
  }
  .searchsecinput input {
    width: 250px !important;
    height: 14px !important;
  }
  /* .rdw-editor-toolbar {
    margin-bottom: 35px !important;
  }
  .rdw-editor-main {
    min-height: 100px !important;
  } */
  .searchsecinput {
    width: 350px !important;
    height: 45px !important;
  }
  .searchsecinput img {
    width: 22px;
  }
}
@media only screen and (min-width: 800px) {
  .mobilenavwrapper {
    display: none;
  }
}
